{% extends 'base.html' %}
{% load url from future %}
{% block content %}
    <div class="well span3 offset3">
        <form action="{% url 'fb_like' %}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ request.path }}" name="next" />
            <input type="submit" class="btn" value="like tangle"/>
        </form>
        <form action="{% url 'fb_design' %}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ request.path }}" name="next" />
            <input type="submit" class="btn" value="design tangle"/>
        </form>
    </div>
{% endblock %}